*
    margin: 0
    padding: 0
.car_cont
    height: 7vh !important
    width: 7vh !important
    display: flex !important
    justify-content: center !important
    border-radius: 50%
    background-color: blue

    span
    &:hover

        background-color: #fff

// .btn
//     left: 100vw !important
.side_bar
    position: fixed
    z-index: 1
    width: 25%
    height: 100%
    left: 94.5vw
    .side_bar_div
        background-color: #fff

    .side_bar_btn
        height: fit-content
        width: fit-content
        border: 0
        border-radius: 10px

.carousel-inner
    .carousel_itm1
        height: 80vh
        background-image: url("../../public/img/slider.jpg")
        background-size: cover , contain
        background-position: right
    .carousel_itm2
        height: 80vh
        background-image: url("../../public/img/slider2.jpg")
        background-size: cover
        background-size: cover , contain
        background-position: right
    .carousel_itm3
        height: 80vh
        background-image: url("../../public/img/slider3.jpg")
        background-size: cover
        background-size: cover , contain
        background-position: right

    // button
    //     width: 30vh
    //     height: 8vh
.sec2
    height: 70vh
    display: flex
    flex-direction: column
    justify-content: space-around
.sec2_div1
    height: 30%

    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: center
    column-gap: 10%
    text-align: center
    i
        color: blue
        font-size: x-large
.div1-sec2
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

    position: relative
    &::before
        content: ""
        position: absolute
        top: 22vh
        left: 65vw
        width: 8vw
        border-bottom: dotted dodgerblue 5px
        .para2
            width: 50%
            text-align: center
.div2-sec2
    display: flex
    align-items: center
    justify-content: space-evenly
    width: 100%
    position: relative
    &::before
        content: ""
        position: absolute
        top: 4vh
        left: 30vw
        width: 8vw
        border-bottom: dotted dodgerblue 5px

    .child-div
        width: 50%
        display: flex
        align-items: center
        justify-content: center
        flex-direction: column

        .icon
            display: flex
            align-items: center
            justify-content: center
            color: blue
            border: 1px solid grey
            border-radius: 50%
            padding: 20px
            font-size: 2rem

            &:hover
                background-color: blue
                a
                    color: white
    .p-child
        width: 60%
        text-align: center

.sec2_div3
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    justify-content: space-around
    .cdiv3_sec2
        width: 30%
        text-align: center
        z-index: 2
.sec3
    width: 100%
    height: 40vh
    background-image: url("../../public/img/bread-bg.jpg")
    background-size: cover
    background-position: center
    justify-content: center

    .sec3_div
        width: 100%
        height: 100%
        display: flex
        align-items: center
        opacity: 50%
        &::before
            background-color: #2677F8
            content: ''
            position: absolute
            width: 100%
            height: 40vh
            opacity: 50%

        .sec3_cdiv
            z-index: 2
            width: 15%
            height: 80%
            display: flex
            margin-inline: 5px
            a
                font-size: larger
                padding: 10%
                border: solid 1px
                border-radius: 50%
                width: 30%
                height: 30%
                &:hover
                    background-color: blue

.sec5_div
    .sec5_cdiv
        width: 99%
        height: 40vh
        z-index: 2
        justify-content: center

        background-image: url("../../public/img/call-bg.jpg")
        background-attachment: fixed
        position: relative
        background-size: cover , contain
        background-position: center
        background-repeat: no-repeat

        &::before
            background-color: #2677F8
            content: ''
            position: absolute
            width: 100%
            height: 40vh
            opacity: 50%
    .sec5_cdiv
        height: 100%
        width: 100%
        z-index: 1
        button
            background-color: #fff
            color: #2677F8

.sec7

    .sec7_div2
        width: 90%

.sec8
    background-color: #edefef
    height: fit-content
    justify-content: center
    width: 100%
    .sec8_div2
        div
            button
                width: 100%
                height: 15%
.sec9
    width: 99%
.sec10_div
    height: 40vh
    background-image: url("../../public/img/client-bg.jpg")
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    img
        width: 20%
        height: 30%
    .sec10_cdiv
        width: 80%
        height: 100%
    &::before
        width: fit-content
        height: 40vh
        background-color: #2677F8
        content: ''
        display: block
        position: absolute
        opacity: 50%
.contact_div2
    height: 40vh
    width: 99vw
    background-color: #d7e4f8
    .contact_cdiv2
        width: 35%
        input
            width: 40vh
            height: 7vh
        button
            width: 20vh
            height: 7vh

@media   ( max-width: 430px )
    .sec2
        height: fit-content
        .div1-sec2
            &::before
                display: none
        .div2-sec2
            display: flex
            flex-direction: column
            p
                width: 100%
            &::before
                display: none
    .sec3
        width: 100%
        height: 100vh

        .sec3_div
            width: 100%
            height: 100%
            &::before
                width: 100%
                height: 100%
            .sec3_cdiv
                display: flex
                flex-direction: column-reverse
                justify-content: center !important
                width: 30% !important
                height: 20%

    .sec6
        display: flex
        flex-direction: column
        align-items: center
    .sec6_div1
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        img
            width: 10%
    .sec10_div
        height: 100vh
        display: flex
        align-items: center
        .sec10_cdiv
            display: flex
            width: 100%

            justify-content: space-around
